*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    scrollbar-color: #6c63ff #121212;
}

body{
    padding-top: 70px;
    background-color: #121212;
    color: #f5f5f5;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.logo{
    color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo span{
    color: #6c63ff;
}

.navbar{
    background-color:rgba(10, 10 ,10, 0.9);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #2d2d2d;
    text-align: left;
}
.nav-link{
    color: #f5f5f5
}

.nav-link:hover{
    color: #6c63ff; 
}


.navbar-toggler{
    border-bottom: 1px solid #2d2d2d;
    padding: 4px 8px;
    border-radius: 8px;
} 

.card{
    color: #f5f5f5;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    transition: 0.3s;
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.btn-custom{
    color: #f5f5f5;
    background-color: #6c63ff;
}

.btn-custom:hover{
    border-color: #6c63ff !important;
}

section{
    padding: 6rem;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.section-title{
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
}

.section-title:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: #6c63ff;
}

.hero{
    display: flex;
    align-items: center;
    padding-top: 6rem;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.hero-text{
    flex: 1;
}

.hero-text h1{
font-size: 3rem;
margin-bottom: .5rem;
font-weight: 700;
}

.hero-text p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #6c63ff;
    font-size: 1.5rem;
    max-width: 600px;
}

a{
    text-decoration: none;
}

.social-links{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

.social-links a{
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2d2d2d;
}

.social-links a:hover{
    background-color: #6c63ff;
    transform: translateY(-3px);
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: end;
}

.hero-image img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #6c63ff;

    transition:
        transform 0.8s ease-in-out,
        box-shadow 0.8s ease-in-out;
}

.hero-image img:hover{
    transform: scale(1.03);
    box-shadow: 0 0 22px rgba(108, 99, 255, 0.35);
}

.timeline{
    text-align: center;
    max-width: 850px;
    margin: auto;
}

.timeline-content{
    background-color: #2d2d2d;
    padding: 2rem;
    border-radius: 10px;
    border-left: 3px solid #6c63ff;
}

.date{
    display: inline-block;
    padding: .3rem .8rem;
    background-color: #6c63ff;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.timeline-content h3{
margin-bottom: 1rem;
font-size: 2rem;
}

.timeline-content h4{
    color: #6c63ff;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.btn-contact{
    background-color: #6c63ff;
    color: #f5f5f5;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    font-weight: 600;
}
.contact{
    margin-top: 3rem;
}

.btn-contact:hover{
    background-color: transparent;
    color: #f5f5f5;
    border: 1px solid #6c63ff;
}


footer{
    text-align: center;
    margin-top: 5rem;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .hero-content {
        flex-direction: column-reverse; 
        gap: 2rem;
        text-align: center;
        padding-top: 2rem;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1.2rem;
        margin: 1.5rem auto;
    }

    .hero-image {
        justify-content: center;
        width: 100%;
    }

    .hero-image img {
        width: 280px;
        height: 280px;
        margin: 0 auto;
    }

    .social-links {
        justify-content: center;
    }
    
    section {
        padding: 2rem 1rem;
    }
    
}

